body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="button"]
{
background-color:#ff4456;
color: black;
width:100%;
height: 100%;
}
input[type="text"]
{
text-align: right;
background-color:white;
border-color: black ;
width:100%
}